html,body{
    padding: 0;
    margin: 0;
    background-color: black;
    color:white;
}

html{

    font-family: "Roboto", sans-serif;   
    color: black;
    padding: 25px;

}


header{
    
    display: flex;
    align-items: center;
    width: auto;
    height: auto;
    justify-content: space-between;
    top: 25px;


}




.about,.projects,footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;

}

.me > div{
    border-bottom: 3px solid white;
}

.about-me-text{
    text-align: center;
}

.project > img{
    height: 100%;
    width: 100%;
}

.project-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;

    align-items: stretch; /* This will make the children stretch to fill the container */


}


a{
    text-decoration: none;
    color: white;
    font-size: 20px;
}

a::after{
    display:block;
    content: '';
    border-bottom: solid 3px white;  
    transform: scaleX(0);  
    transition: transform .2s ease-in-out;
}

a:hover:after{
    transform: scaleX(1);
}


.me > div{
    user-select: none;
    cursor: default;
}

article{
    background-color: black;
    border: 2px solid white;
}

.contact-text{
    text-align: center;
}

.project-wrapper > article{
    border-radius: 15px;
  padding-left: 30px;
  padding-right: 30px;
  padding: 15px;
  padding-top: 0;
}

.project-arrow{
    transform: rotate(45deg);
    transition: transform .2s ease-in-out, opacity .2s ease-in-out;
    opacity: 1;
}
.project-arrow:hover,.github-link:hover{
    transform: rotate(0deg);
    opacity: .5;
}


.github-link{
    transition: opacity .2s ease-in-out;
    opacity: 1;
}



.project > div > a > img{
    height: 32px;
    width: 32px;
}

.send-email-link > .project-arrow{
    height: 24px;
    width: 24px;
    text-align: center;
    margin-left: 10px
}

@media (max-width: 500px) {


    .project-wrapper{
        flex-direction: column;
    }
    .project > img {
        height: auto;
        width: 100%;
      }
      .project-links {
        display: flex;
        justify-content: flex-end;
        gap: 8px;
        padding-top: 15px;
      }
      .send-email-link{
        font-size: 20px;
      }
      .project-wrapper{
        gap: 24px;
      }
      html{
        padding: 15px;
      }
      .send-email-link > .project-arrow{
        height: 15px;
        width: 15px;
        text-align: center;
        margin-left: 10px
    }
}

@media screen and (min-width: 500px) and (max-width: 1000px) {
    .project-wrapper {
        flex-direction: column;
        gap: 48px;
        align-items: center;
      }
      .project > img {
        height: auto;
        width: 100%;
      }
      .project-links {
        display: flex;
        justify-content: flex-end;
        gap: 8px;
        padding-top: 15px;
      }

      .about-me-text,.contact-text {
        width: 450px;
      }
      p{
        line-height: 40px;
        font-size: 24px;
      }
      h2{
        font-size: 48px;
      }
      .project{
        max-width: 500px;
      }
      main{
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      .send-email-link{
        font-size: 30px;
    }
    .sections {
        min-width: 240px;
        display: flex;
        justify-content: space-evenly;
      }
      .me{
        font-size: 20px;
      }
}

@media (min-width: 1000px){

    .me > div{
        font-size: 24px;
        border-bottom: 3px solid white;
    }

    .my-work{
        padding-left: 15px;
    }

    h2{
        font-size: 50px;
    }
    p{
        font-size: 25px;
        max-width: 575px;
        line-height: 40px;
    }

    .sections{
        min-width: 240px;
        display: flex;
        justify-content: space-evenly;

    }



    .project-wrapper{
        gap: 24px;
    }



    .send-email-link{
        font-size: 30px;
    }


    .project{
        max-width: 500px;
        position: relative;
        flex: 1;
    }

    .project-links{
        display: flex;
        justify-content: flex-end;
        gap: 8px;
        padding-top: 15px;
        position: absolute;
       bottom: 15px;
       width: calc(100% - 30px);
    }


    .project > img{
        height: auto;
        margin-bottom: 50px;
    }
}


